@import "tailwindcss";

@theme {
  --background: 208 100% 97%;
  --foreground: 224 71.4% 4.1%;
  --primary: 197 71% 73%;
  --radius: 0.8rem;
}

/* Dark mode vars */
.dark {
  --background: 224 71.4% 4.1%;
  --foreground: 210 20% 98%;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: "PT Sans", sans-serif;
}